<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include version.wxi?>
  <!-- <?include $(sys.CURRENTDIR)Includes\SysMon.wxi ?> -->

  <Product Id="$(var.Productcode)" Name="$(var.ProductNameWithVersion)" Language="$(var.ProductLanguage)" Version="$(var.ProductVersion)" Manufacturer="$(var.ProductManufacturerLong)" UpgradeCode="$(var.ProductUpgradeCode)">
    <Package Description="!(loc.PackageDescription)" Manufacturer="$(var.ProductManufacturerLong)" InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="Data1.cab" EmbedCab="yes" CompressionLevel="high" />
	<Icon Id="MainIcon.exe" SourceFile="$(var.SetupResourcesDir)\Main-Icon.exe" />
	<PropertyRef Id="WIX_DIR_PROFILE" />
    <Property Id="ARPHELPLINK" Value="!(loc.ProductHelpLink)" />
    <Property Id="ARPURLINFOABOUT" Value="!(loc.ProductUrlInfoAbout)" />
    <Property Id="ARPURLUPDATEINFO" Value="!(loc.ProductUrlUpdateInfo)" />
    <Property Id="ALLUSERS" Value="1" />
	<Property Id="DESKTOP_SC" Value="0" />
    <Property Id="ARPPRODUCTICON" Value="MainIcon.exe" />

    <SetProperty Id="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]" After="CostFinalize" />

    <!-- Windows 7 and later is required. -->
    <Condition Message="!(loc.OSVersionRequired)"><![CDATA[Installed OR VersionNT >= 601]]></Condition>

    <Upgrade Id="$(var.ProductUpgradeCode)">
      <UpgradeVersion OnlyDetect="yes" Minimum="$(var.ProductVersion)" Property="NEWPRODUCTFOUND" IncludeMinimum="no" />
      <UpgradeVersion Minimum="$(var.RTMProductVersion)" IncludeMinimum="yes" Maximum="$(var.ProductVersion)" Property="UPGRADEFOUND" IncludeMaximum="no" MigrateFeatures="yes" />
    </Upgrade>
    <CustomAction Id="PreventDowngrading" Error="!(loc.NewerVersionInstalled)" />
    <SetProperty Id="InstallSvc" Value="&quot;[#Main.exe]&quot; -accepteula -i &quot;[#sysmonconfig_export.xml]&quot;" Sequence="execute" Before="InstallInitialize" />
    <CustomAction Id="InstallSvc" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="check" Impersonate="no"/>
    <SetProperty Id="UnInstallSvc" Value="&quot;[#Main.exe]&quot; -u" Sequence="execute" Before="InstallInitialize" />
    <CustomAction Id="UnInstallSvc" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="check" Impersonate="no"/>
	
    <InstallExecuteSequence>
		<Custom Action="PreventDowngrading" After="FindRelatedProducts"><![CDATA[NEWPRODUCTFOUND]]></Custom>
		<RemoveExistingProducts Before="InstallInitialize" />
		<DuplicateFiles Sequence="5200" />
	    <Custom Action="InstallSvc" After="InstallFiles">
		  NOT Installed
	    </Custom>
	    <Custom Action="UnInstallSvc" Before="RemoveFiles">
		  Installed
	    </Custom>
	</InstallExecuteSequence>
	<InstallUISequence>
		<Custom Action="PreventDowngrading" After="FindRelatedProducts"><![CDATA[NEWPRODUCTFOUND]]></Custom>
	</InstallUISequence>

    <!-- Define the directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
		<!-- <Directory Id="MAINAPPFOLDER" Name="$(var.AppName)"> -->
          <Directory Id="APPLICATIONFOLDER" Name="$(var.AppName)" />
		<!-- </Directory> -->
      </Directory>
      <Directory Id="ProgramMenuFolder" />
      <Directory Id="DesktopFolder" />
	  <Directory Id="AppDataFolder" >
	  </Directory>
	</Directory>
    <!--
      RemoveFolderEx requires that we "remember" the path for uninstall.
      This workaround is only required for the uninstall.
    -->
    <Property Id="APPLICATIONFOLDER">
      <RegistrySearch Id="APPLICATIONFOLDER_REGSEARCH" Root="HKLM" Key="Software\$(var.AppVendor)\$(var.AppName)" Name="Path" Type="raw" Win64="$(var.Win64)" />
    </Property>

    <!-- Add the shortcuts to your installer package -->
    <DirectoryRef Id="APPLICATIONFOLDER">
      <Component Id="CleanupMainApplicationFolder" Guid="*">
        <RegistryValue Root="HKLM" Key="Software\$(var.AppVendor)\$(var.AppName)" Name="Path" Type="string" Value="[APPLICATIONFOLDER]" KeyPath="yes" />
        <!-- We need to use APPLICATIONFOLDER variable here or RemoveFolderEx will not remove on "install". -->
        <util:RemoveFolderEx On="uninstall" Property="APPLICATIONFOLDER" />
      </Component>
      <Component Id="Main_exe" Guid="$(var.ExeGUID)" Win64="yes" >
        <File Id="Main.exe" Vital="yes" KeyPath="yes" Source="!(wix.APSourceDir)\$(var.ExeName)" />
<!-- We do not need a shortcut for this project
		<Shortcut Id="AppStartMenuShortcut"
		  Directory="ProgramMenuFolder"
		  Advertise="yes"
		  Name="$(var.ProductNameWithVersion)"
		  WorkingDirectory="APPLICATIONFOLDER"
		  Icon="MainIcon.exe">
		</Shortcut>
        <RegistryValue Root="HKLM" Key="Software\$(var.AppVendor)\$(var.AppName)" Name="StartMenuShortcutInstalled" Type="integer" Value="1" /> -->
		<RegistryValue Id="registry1" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\App Paths\$(var.ExeName)" Value="[APPLICATIONFOLDER]$(var.ExeName)" Type="string" />
	  </Component>
	  <Component Id="SysMonEVTX" Guid="{6B8150BF-6C12-4BD2-8870-3BA13948F31E}">
		<RegistryValue Id="RegHKLM01" Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\WINEVT\Channels\Microsoft-Windows-Sysmon/Operational" Name="MaxSize" Value="536870912" Type="integer" KeyPath="yes" />
	  </Component>
    </DirectoryRef>
    <!-- List of features to install -->
    <Feature Id="UserSettings" InstallDefault="local" Description="Delivers user settings automatically to each profile." Display="expand" Level="1" Title="User Settings">
      <!-- No entries for user settings
	  <ComponentRef Id="UserSettingsRepair" /> -->
	  <Feature Id="MainApplication" ConfigurableDirectory="APPLICATIONFOLDER" Level="1" Title="$(var.AppName)" Absent="disallow" Display="expand" AllowAdvertise="yes" InstallDefault="local">
        <ComponentRef Id="Main_exe" />
		<ComponentRef Id="CleanupMainApplicationFolder" />
		<ComponentRef Id="SysMonEVTX" />
        <ComponentGroupRef Id="AppFiles" />
      </Feature>
    </Feature>
    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.SetupResourcesDir)\SideImage.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="$(var.SetupResourcesDir)\TopImage.bmp" />
	<!-- Broadcast environment variable changes -->
	<CustomActionRef Id="WixBroadcastEnvironmentChange" />
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <!-- Skip license dialog. -->
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="5">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="5">1</Publish>
    </UI>
  </Product>
</Wix>
