<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <Directory Id="TARGETDIR">
            <Component Id="cmp66B4CE7B46DFCAFABD3E6BD401EDB910" Guid="{8FDEC760-3A63-43EB-AEC5-B45436A223F5}" KeyPath="yes">
                <RegistryKey Key="*\shell\ANotepad++64" Root="HKCR">
                    <RegistryValue Name="ExplorerCommandHandler" Value="{B298D29A-A6ED-11DE-BA8C-A68E55D89593}" Type="string" />
                    <RegistryValue Value="Notepad++ Context menu" Type="string" />
                    <RegistryValue Name="NeverDefault" Value="" Type="string" />
                </RegistryKey>
                <RegistryKey Key="CLSID\{B298D29A-A6ED-11DE-BA8C-A68E55D89593}" Root="HKCR">
                    <RegistryValue Value="notepad++" Type="string" />
                </RegistryKey>
                <RegistryKey Key="CLSID\{B298D29A-A6ED-11DE-BA8C-A68E55D89593}\InProcServer32" Root="HKCR">
                    <RegistryValue Value="C:\tmp\Notepad++\1\NppShell.dll" Type="string" />
                    <RegistryValue Name="ThreadingModel" Value="Apartment" Type="string" />
                </RegistryKey>
            </Component>
        </Directory>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="AppReg">
            <ComponentRef Id="cmp66B4CE7B46DFCAFABD3E6BD401EDB910" />
        </ComponentGroup>
    </Fragment>
</Wix>